/* @import "tailwindcss";

@import "flowbite/src/themes/default";*/
@tailwind utilities;
@tailwind utilities;

@import "flowbite/src/themes/default";

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-color: #13161a;

    animation: all 0.3s;
}

